h1 {
  font-weight: bold;
  color: blue;
  font-family: "Rubik Moonrocks", cursive;
  text-align: right;
  display: inline-block;
  width: 400px;
}
h2 {
  font-style: italic;
  color: blueviolet;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: inline-block;
  width: 400px;
}
h3 {
  font-style: italic;
  font-weight: bold;
  color: violet;
  text-align: left;
  display: inline-block;
  width: 400px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a:link {
  color: blue;
}
a:hover {
  color: yellow;
}
a:visited {
  color: gray;
}
footer {
  font-size: 9pt;
  font-style: italic;
  text-align: center;
  padding-top: 30pt;
}

#block1 {
  height: 100px;
  width: 200px;
  background: green;
  display: inline-block;
}

.block2 {
  height: 100px;
  width: 200px;
  background: blue;
  display: inline-block;
}

.block3 {
  height: 100px;
  width: 200px;
  background: purple;
  display: inline-block;
}

.lighttext {
  font-weight: lighter;
}
.darktext {
  font-weight: bold;
}
.darkertext {
  font-weight: bolder;
}
.italictext {
  font-style: italic;
}
.obliquetext {
  font-style: oblique;
}
dt {
  font-weight: bold;
}
